/* ==========================================================================
   Custom Variables
   ========================================================================== */

// Colors
// -------------------------

@caribbean-green        : #29DCB2;
@screamin-green         : #61FF7E;
@screamin-green-alt     : #5EEB5B;
@light-carmine-pink     : #E85D75;
@summer-sky 		    : #29ABE2;
@golden-poppy		    : #F4C700;
@deep-carmine-pink      : #F62B33;

@anti-flash-white       : #F3F3F3;
@snow 					: #FCFCFC;
@brand-white 		    : #FFFFFF;
@brand-black        : #292F36;


@brand-main-color 	    : @screamin-green;
@brand-secondary-color  : @brand-black;
@brand-tertiary-color  : @light-carmine-pink;
// Fonts
// -------------------------

@lato-font 			    : 'Lato', sans-serif;
@varela-font 		    : 'Varela Round', sans-serif;

@brand-main-font 	    : @lato-font;
@brand-secondary-font   : @varela-font;

// Background colors
// -------------------------

@brand-main-background-color 		: @snow;
@brand-secondary-background-color 	: @anti-flash-white ;

// Background images
// -------------------------

@hero-background-image          : '../media/img/image15.jpg' ;
@blockquote-background-image    : '../media/img/image6.jpg' ;
@background-image2    : '../media/img/image16.jpg' ;

// General variables
// -------------------------

@transitions-delay 					: 0.4;
