/* ==========================================================================
   Custom Variables
   ========================================================================== */

// Colors
// -------------------------

@caribbean-green: #29dcb2;
@screamin-green: #61ff7e;
@pale-lavender: #e3d7ff;
@picton-blue: #30bced;
@light-carmine-pink: #e85d75;
@peach: #ffe0b5;
@mint: #f7fff7;
@gunmetal: #292f36;
@davys-gray: #5b5363;

@summer-sky: #29abe2;
@golden-poppy: #f4c700;
@deep-carmine-pink: #f62b33;

@anti-flash-white: #f3f3f3;
@snow: #fcfcfc;
@brand-white: @mint;
@brand-black: @gunmetal;
@brand-dark-gray: @davys-gray;

@brand-main-color: @screamin-green;
@brand-secondary-color: @pale-lavender;
@brand-tertiary-color: @light-carmine-pink;
@brand-fourth-color: @picton-blue;

// Fonts
// -------------------------

@lato-font: "Lato", sans-serif;
@varela-font: "Varela Round", sans-serif;

@brand-main-font: @lato-font;
@brand-secondary-font: @varela-font;

// Background colors
// -------------------------

@brand-main-background-color: @brand-black;
@brand-secondary-background-color: @anti-flash-white;

// Background images
// -------------------------

@hero-background-image: "../media/img/image15.jpg";
@blockquote-background-image: "../media/img/image6.jpg";
@background-image2: "../media/img/image16.jpg";
@background-image3: "../media/img/image14.jpg";

// General variables
// -------------------------

@transitions-delay: 0.4;
