#mission {
  overflow: hidden;
  margin-bottom: 100px;
  padding-top: 100px;

  @media only screen and (min-width: @screen-sm-min) {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  @media only screen and (min-width: @screen-md-min) {
    margin-bottom: 100px;
    padding-top: 100px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    line-height: 40px;
    z-index: 2;
  }
  .mission-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    position: relative;

    @media only screen and (min-width: @screen-sm-min) {
      height: 120px;
    }
  }

  .mission-item {
    padding: 0 8px;
  }
  .color-block {
    background-color: @brand-tertiary-color;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

}
