#mission {
  overflow: hidden;
  padding-top: 100px;

  @media only screen and (min-width: @screen-sm-min) {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  @media only screen and (min-width: @screen-md-min) {
    margin-bottom: 100px;
    padding-top: 100px;
  }

  ul {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
  }


  .mission-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    position: relative;

    @media only screen and (min-width: @screen-sm-min) {
      height: 120px;
    }
  }

  .mission-item {
    padding: 0 8px;
  }
  .color-block {
    background-color: @brand-dark-gray;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

}
