#services {
  h3 {
    min-height: 52px;
  }

  p {
    font-size: 18px;
    line-height: 24px;

    @media only screen and (min-width: @screen-sm-min) {
      font-size: 19px;
      line-height: 26px;
    }
  }
}
