#services {
  h3 {
    @media only screen and (min-width: @screen-sm-min) {
      min-height: 52px;
    }
  }

  .item-container {
    margin-top: 20px;
    margin-bottom: 50px;
    @media only screen and (min-width: @screen-sm-min) {
      margin-top: 80px;
    }

    .service-item {
      padding-top: 40px;

      @media only screen and (min-width: @screen-sm-min) {
        padding-top: 60px;
      }

      @media only screen and (min-width: @screen-md-min) {
        padding-top: 100px;
      }
    }

    .service-item:first-child {
      padding-top: 40px;

      @media only screen and (min-width: @screen-sm-min) {
        padding-top: 0px;
      }

      @media only screen and (min-width: @screen-md-min) {
        padding-top: 40px;
      }
    }

    .service-item:nth-child(odd) {
      text-align: left;
      @media only screen and (min-width: @screen-sm-min) {

        text-align: right;

      }
    }

  }

  .service-description-char {
    display: inline-block;
  }
}
