<section id="clients" class="section-content main-background-color">
<div id="clients-animation">
  <div class="container margin-top-50 margin-bottom-100">
  		<div class="row">
  			<div class="col-lg-12">
          <h1 class="text-center text-black margin-top-50">{{site.clients_header}}</h1>
  				<hr class="margin-bottom-50 border-brand-secondary-color">
          <!-- <h3>
            {{site.clients_subcopy}}
          </h3> -->
  				<div class="margin-top-80 margin-bottom-50">
  					<div class="row">
  						{% for client in site.clients %}
              <a class="client-container" href="{{client.link}}" target="_blank">
                <div class="image-container">
                  <img src="media/clienticons/{{client.icon}}" alt="{{client.name}} logo"/>
                  <div class="image-container-background" {% if client.backgroundColor %} style="background-color: {{client.backgroundColor}};" {%endif%}>
                  </div>
                </div>
                <div class="image-container-alt">
                  <img src="media/clienticons/{{client.alticon}}" alt="{{client.name}} logo"/>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</section>

<script>
  document.querySelectorAll('.image-container-alt').forEach((image) => {
    image.addEventListener('mousemove', (e) => {
      let imageX = -(e.clientX - (e.target.getBoundingClientRect().left + (e.target.getBoundingClientRect().width / 2)))
      let imageY = -(e.clientY - (e.target.getBoundingClientRect().top + (e.target.getBoundingClientRect().height / 2)))

      if (imageX > 0) {
        imageX = Math.min(imageX, 40)

      } else {
        imageX = Math.max(imageX, -40)
      }

      if (imageY > 0) {
        imageY = Math.min(imageY, 40)
      } else {
        imageY = Math.max(imageY, -40)
      }
      e.currentTarget.querySelector('img').style.transform = 'translate(' + imageX + 'px, ' + imageY + 'px) scale(1.5)'
    })

    image.addEventListener('mouseout', (e) => {
      e.currentTarget.querySelector('img').style.transform = 'translate(0px, 0px) scale(1.5)'
    })

  })
</script>

<script>
$(function() {
  var controller = new ScrollMagic.Controller();
  var tween = TweenMax.from('#clients-animation', 1, {
      // transform: "translateY(-1999px)",
      opacity: 0
    });

    new ScrollMagic.Scene({
      triggerElement: '#clients',
      // reverse: false,
      offset: 0,
    })
    .setTween(tween)
    .addTo(controller)
  })
</script>
