

<!-- ScrollMagic + animations -->
<script src="js/jQuery.min.js"></script>
<script src="js/TweenMax.js"></script>
<script src="js/ScrollMagic.min.js"></script>
<script src="js/animation.gsap.js"></script>


<script type="text/javascript" src="https:////maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/retina.min.js"></script>
<script type="text/javascript" src="js/skrollr.min.js"></script>
<script type="text/javascript" src="js/jquery.hidenavbaronscroll.js"></script>


<script src="js/main.js"></script>
