<section id="blockquote" class="blockquote fullscreen-content">
  <div id="blockquote-animation">
    <img class="bottom-diagonal hidden-xs hidden-sm" src="media/img/bottom-diagonal.png" alt="">
  	<div class="fullscreen-image background-image-01" data-bottom-top="background-position-y: 200px" data-0-top="background-position-y: 0px" data-top-bottom="background-position-y: -200px"></div>
  	<div class="container padding-top-100 padding-bottom-100">
  		<div class="row">
  			<div class="col-lg-12">
  				<blockquote class="text-white text-center">{{ site.blockquote.text }}</blockquote>

  				<h3 class="text-brand-main-color text-center">{{ site.blockquote.tagline }}</h3>
  				<!--
  				<p class="text-center margin-top-40">
  					<a href="{{ site.blockquote.button_url }}" class="btn btn-default" target="_blank">{{ site.blockquote.button_text }}</a>
  				</p>
          -->
  			</div>
  		</div>
  	</div>
    <img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">
  </div>
</section>

<script>
$(function() {
  var controller = new ScrollMagic.Controller();
  var tween = TweenMax.from('#blockquote-animation', 2, {
      // transform: "translateX(9999px)",
      opacity: 0
    });

    new ScrollMagic.Scene({
      triggerElement: '#blockquote',
      // reverse: false,
      offset: 0,
    })
    .setTween(tween)
    .addTo(controller)
  })
  </script>
