<section id="services" class="section-content main-background-color padding-top-50 padding-bottom-50">

	<div id="services-animation" class="container">
		<div class="row">
			<div class="col-lg-12">

				<h1 class="text-center margin-top-50">What we do</h1>
				<hr class="margin-bottom-50">

				<div class="margin-top-80 margin-bottom-50">
					<div class="row">
						{% for service in site.services %}
						<!-- Single Service -->
						<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
							<div class="row">
								<div class="col-lg-3 col-md-3">
									<i class="fa fa-{{ service.icon }} fa-5x text-brand-main-color margin-top-20"></i>
								</div>
								<div class="col-lg-9 col-md-9">
									<h3 class="text-main-brand-color light-bold">{{ service.title }}</h3>
									<p class="service-description">{{ service.description }}</p>
								</div>
							</div>
						</div>
						<!-- End Single Service -->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(function() {
  var controller = new ScrollMagic.Controller();
  var tween = TweenMax.from('#services-animation', 1, {
      // transform: "translateY(-1999px)",
      opacity: 0
    });

    new ScrollMagic.Scene({
      triggerElement: '#services',
      // reverse: false,
      offset: 0,
    })
    .setTween(tween)
    .addTo(controller)
  })
</script>

<script>

  (function() {
    var mainController = new ScrollMagic.Controller();
    var controller = new ScrollMagic.Controller();

    var scene = new ScrollMagic.Scene({
      triggerElement: '#services',
      offset: 0,
    })
    .addTo(mainController)
    .on('start', () => {
      tweenItUp()
    })
    .on('leave', () => {
      controller = new ScrollMagic.Controller();
    })


    var splitRandomNth = (str) => {
      var getRandom = (max) => { return Math.floor(Math.random() * max) + 1  }
      var a = str.split(' '), b = [];
      while(a.length) b.push(a.splice(0, getRandom(4)).join(' '));
      return b;
    }

    function spanifyText(text) {
    return splitRandomNth(text).map((character) => {
        return "<span class='service-description-char'>"+character+"</span>"
      }).join(' ')
    }

    function tweenItUp() {
      document.querySelector('#services').querySelectorAll('.service-description').forEach((description) => {
        const spannedText = spanifyText(description.textContent)
        description.innerHTML = spannedText

        description.querySelectorAll('.service-description-char').forEach((charEl) => {
          var scene = new ScrollMagic.Scene({
            triggerElement: '#services',
            offset: 0,
          })
          .addTo(controller)
          var tween = TweenMax.from(charEl, Math.random() * 3, {
            opacity: 0
          }).delay(Math.random() * 2)

          scene.setTween(tween)
        })
      })
    }
  })()
</script>
