<section id="services" class="section-content main-background-color padding-top-50">

	<div id="services-animation" class="container">
		<div class="row">
			<div class="col-lg-12">

				<h1 class="text-center margin-top-50">What we do.</h1>
				<hr class="margin-bottom-50">

				<div class="margin-top-80 margin-bottom-50">
					<div class="row">
						{% for service in site.services %}
						<!-- Single Service -->
						<div class="col-lg-4 col-md-4 col-sm-4 padding-top-20">
							<div class="row">
								<div class="col-lg-3 col-md-3">
									<i class="fa fa-{{ service.icon }} fa-5x text-brand-main-color margin-top-20"></i>
								</div>
								<div class="col-lg-9 col-md-9">
									<h3 class="text-main-brand-color light-bold">{{ service.title }}</h3>
									<p>{{ service.description }}</p>
								</div>
							</div>
						</div>
						<!-- End Single Service -->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(function() {
  var controller = new ScrollMagic.Controller();
  var tween = TweenMax.from('#services-animation', 1, {
      // transform: "translateY(-1999px)",
      opacity: 0
    });

    new ScrollMagic.Scene({
      triggerElement: '#services',
      // reverse: false,
      offset: 0,
    })
    .setTween(tween)
    .addTo(controller)
  })
</script>
