---
layout: default
title: Data Automatica
---
<div id="wrap">
	<div id="skrollr-body">
		<!-- Main Navigation -->
		{% include navbar.html %}
		<!-- End Main Navigation -->

		<!-- Hero -->
		{% include image-hero.html %}
		<!-- End Hero -->

		<!-- Features -->
		{% include mission.html %}
		<!-- End Features -->

		<!-- Home Blockquote -->
		{% include home-blockquote.html %}
		<!-- End Home Blockquote -->

		<!-- Services -->
		<!-- {% include services.html %} -->
		<!-- End Services -->
    <!-- Clients -->
    {% include clients.html %}
    <!-- End Clients -->

    <!-- Picture Divider -->
    {% include picture-divider.html %}
    <!-- End Picture Divider -->


		<!-- Contact -->
		{% include contact.html %}
		<!-- End Contact -->

	</div>
</div>
